<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Disconf" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>

  <Disconf FilePath="D:\gitStudy\Disconf.Net\Config">
    <Item AppName="YaoTest" Version="1_0_0_1" Files="aa.xml,Test.xml"></Item>
    <Item AppName="oas-management" Version="1_0_0_0" Files="config.properties"></Item>
  </Disconf>
</configuration>